name: Benchmark And Profiling

on:
  pull_request:
    branches: [main, dev]

env:
  SETUP_PY: ./
  BENCHMARK_OUTPUT: benchmark.json
  PROFILING_OUTPUT: profile.out
  SIMULATION_SCRIPT: ./scripts/tools/python/profiling_script.py
  DEV_REQUIREMENTS: ./scripts/configs/dev_requirements.txt
  PYTHON_VERSION: "3.11"

jobs:
  set-runner:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set-matrix.outputs.runner }}
    steps:
      - name: Determine Runner
        id: set-matrix
        run: |
          BRANCH="${{ github.head_ref }}"
          if [[ "$BRANCH" =~ test-workflow ]]; then
          echo "runner=self-hosted" >> $GITHUB_ENV
          echo "runner=self-hosted" >> $GITHUB_OUTPUT
          else
          echo "runner=ubuntu-latest" >> $GITHUB_ENV
          echo "runner=ubuntu-latest" >> $GITHUB_OUTPUT
          fi
          echo "Using runner: $GITHUB_ENV"

  benchmark:
    needs: set-runner
    runs-on: ${{ needs.set-runner.outputs.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ${{ env.SETUP_PY }}
          python -m pip install -r ${{ env.DEV_REQUIREMENTS }}

      - name: Run benchmarks
        run: |
          pytest --benchmark-only --benchmark-save=${{ env.BENCHMARK_OUTPUT }}

      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: ${{ env.BENCHMARK_OUTPUT }}

  profiling:
    name: "Profiling: Simulation Experiment"
    needs: [set-runner, benchmark]
    runs-on: ${{ needs.set-runner.outputs.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ${{ env.SETUP_PY }}
          python -m pip install -r ${{ env.DEV_REQUIREMENTS }}

      - name: Run profiling with cProfile
        run: |
          python -m cProfile -o ${{ env.PROFILING_OUTPUT }} ${{ env.SIMULATION_SCRIPT }}

      - name: Upload profiling results
        uses: actions/upload-artifact@v4
        with:
          name: profiling-results
          path: ${{ env.PROFILING_OUTPUT }}
