name: Linting And Testing

on:
  pull_request:
    branches: [main, dev]

env:
  CONFIG_DIR: ./scripts/configs
  SETUP_PY: ./scripts/configs
  SRC_DIR: ./src/quaos
  TEST_DIR: ./tests
  PYTEST_INI: ./scripts/configs/pytest.ini
  COVERAGE_REPORT_XML: ./docs/tests_results/coverage_report.xml
  COVERAGE_REPORT_HTML: ./docs/tests_results/coverage_html_report
  COVERAGE_REPORT_JUNIT: ./docs/tests_results/junit.xml
  PYTHON_VERSION: "3.11"

jobs:
  set-runner:
    runs-on: ubuntu-latest
    outputs:
      runner: ${{ steps.set-matrix.outputs.runner }}

    steps:
      - name: Determine Runner
        id: set-matrix
        run: |
          BRANCH="${{ github.head_ref }}"
          if [[ "$BRANCH" =~ test-workflow ]]; then
          echo "runner=self-hosted" >> $GITHUB_ENV
          echo "runner=self-hosted" >> $GITHUB_OUTPUT
          else
          echo "runner=ubuntu-latest" >> $GITHUB_ENV
          echo "runner=ubuntu-latest" >> $GITHUB_OUTPUT
          fi
          echo "Using runner: $GITHUB_ENV"

  linting:
    needs: set-runner
    runs-on: ${{ needs.set-runner.outputs.runner }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ${{ env.SETUP_PY }}

      - name: Flake8
        continue-on-error: true
        run: |
          pip install flake8
          flake8 ${{ env.SRC_DIR }}

  testing:
    needs: [set-runner, linting]
    runs-on: ${{ needs.set-runner.outputs.runner }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ${{ env.SETUP_PY }}

      - name: Pytest (No Benchmarking)
        run: |
          pip install pytest pytest-cov
          echo "pytest --override-ini "pytest.ini=${{ env.PYTEST_INI }}" --cov=${{ env.SRC_DIR }} --cov-report=xml:${{ env.COVERAGE_REPORT_XML }} --cov-report=html:${{ env.COVERAGE_REPORT_HTML }} --junitxml=${{ env.COVERAGE_REPORT_JUNIT }} --disable-warnings -vv"

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          with:
          file: ${{ env.COVERAGE_REPORT_XML }}
