name: Process Commit

on:
  push:
    branches: [dev]

env:
  SONARQUBE_INI: ./scripts/configs/sonar-project.properties

jobs:
  tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine tag
        id: tag_logic
        uses: ./.github/actions/utils/determine-tag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-sha: ${{ github.sha }}

      - name: Create and push tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git
          git tag ${{ steps.tag_logic.outputs.final_tag }}
          git push origin ${{ steps.tag_logic.outputs.final_tag }}

  analyze:
    name: SonarQube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dproject.settings=${{ env.SONARQUBE_INI }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
