name: Build and Publish QuAOS Wheels

on:
  workflow_run:
    workflows: ["SemVer Tagging"]
    types:
      - completed
  release:
    types: [created]
env:
  PROJECT_NAME: "sympleq"
  NATIVE_SRC_PATH: src
  CUDA_VERSION: "12.6.0"
  GCC_VERSION: 12
  VCPKG_COMMIT_ID: "15fd3bbcf7cc66249ba11f87a6215ee6f291bb26"
  LINUX_PRESET_X64: linux-x86_64-Release
  WINDOWS_PRESET_X64: windows-x86_64-Release
  CIBW_ARCHS_X64: x86_64
  CIBW_ARCHS_X64_WIN: AMD64
  CMAKE_TOOLCHAIN_FILE: /tmp/vcpkg/scripts/buildsystems/vcpkg.cmake

jobs:
  build-linux-x64:
    name: Build Linux - ${{ matrix.arch }} - Python ${{ matrix.python }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x64]
        python: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Inject version
        uses: ./.github/actions/project_build/version-handling

      - name: Free up disk space
        uses: ./.github/actions/cleanup/free-disk-space
        with:
          platform: linux
          aggressive: "true"

      - name: Build wheels
        uses: ./.github/actions/project_build/wheel/manylinux
        with:
          matrix-arc: ${{ matrix.arch }}
          architecture: ${{ env.CIBW_ARCHS_X64 }}
          python-version: ${{ matrix.python }}
          cmake-preset: ${{ env.LINUX_PRESET_X64 }}
          source-path: ${{ env.NATIVE_SRC_PATH }}
          gcc-version: ${{ env.GCC_VERSION }}
          project-name: ${{ env.PROJECT_NAME }}
          cuda-version: ${{ env.CUDA_VERSION }}
          vcpkg-commit: ${{ env.VCPKG_COMMIT_ID }}

      - name: Upload artifacts
        uses: ./.github/actions/project_build/upload-artifacts
        with:
          artifact-name: wheels-linux-${{ matrix.arch }}-py${{ matrix.python }}

      - name: Post cleanup
        uses: ./.github/actions/cleanup/free-disk-space
        with:
          platform: linux
          aggressive: "true"

  build-windows-x64:
    name: Build Windows x64 - ${{ matrix.arch }} - Python ${{ matrix.python }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        arch: [x64]
        python: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Inject version
        uses: ./.github/actions/project_build/version-handling

      - name: Free up disk space
        uses: ./.github/actions/cleanup/free-disk-space
        with:
          platform: windows

      - name: Build wheels
        uses: ./.github/actions/project_build/wheel/windows
        with:
          matrix-arc: ${{ matrix.arch }}
          architecture: ${{ env.CIBW_ARCHS_X64_WIN }}
          python-version: ${{ matrix.python }}
          vcpkg-commit: ${{ env.VCPKG_COMMIT_ID }}
          cuda-version: ${{ env.CUDA_VERSION }}
          cmake-preset: ${{ env.WINDOWS_PRESET_X64 }}
          source-path: ${{ env.NATIVE_SRC_PATH }}
          project-name: ${{ env.PROJECT_NAME }}

      - name: Upload artifacts
        uses: ./.github/actions/project_build/upload-artifacts
        with:
          artifact-name: wheels-windows-${{ matrix.arch }}-py${{ matrix.python }}

  publish:
    needs: [build-windows-x64, build-linux-x64]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' || (github.event_name == 'push' && github.ref == 'refs/heads/dev')

    steps:
      - name: Checkout repository (for actions)
        uses: actions/checkout@v4

      - name: Publish wheels to Test PyPI (on main branch push)
        if: github.event_name == 'push' && github.ref == 'refs/heads/dev'
        uses: ./.github/actions/project_build/publish
        with:
          project-name: ${{ env.PROJECT_NAME }}
          pypi-token: ${{ secrets.PYPI_TEST }}
          publish-to-test: "true"

      - name: Publish wheels to PyPI (on release)
        if: github.event_name == 'release'
        uses: ./.github/actions/project_build/publish
        with:
          project-name: ${{ env.PROJECT_NAME }}
          pypi-token: ${{ secrets.PYPI_TOKEN }}

  clear:
    needs: [publish, build-linux-x64, build-windows-x64]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && (needs.publish.result == 'failure' || needs.build-linux-x64.result == 'failure' || needs.build-windows-x64.result == 'failure')
    steps:
      - name: Delete release if workflow failed
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.repos.deleteRelease({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: context.payload.release.id
            });
